<form method="POST" action="/createQuestion">
    <div>
        The flashcard: <input type="text" name="flashcard" style="height:50px;width:500px;font-size:14pt;">
    </div>
    <div>
        Blank placed at:(enter the index of word to be replaced by blank) <input type="number" name="blank">
    </div>
    <div>
        Relevent Festival: <input type="text" name="festival">
    </div>
    <div>
        <input type="submit" value="Submit your question!">
    </div>
</form>


<a href="/">Go back to your homepage</a>