{{#if questions}}
<form method="POST" action="/deleteQuestion" id="deleteForm" style="margin-left: 1em">
    <div>
        <h4>Choose one to delete:</h4></br>
        <select name="delete" form="deleteForm" style="margin-top: 1em">
            {{#each questions}}
                <option value={{this._id}}>{{this.flashcard}}</option>
            {{/each}}
            <input type="submit" value="Delete">
        </select>
    </div>
</form>
{{else}}
<h4 style="margin-left: 1em; margin-top: 1em;">No questions can be removed.</h4>
{{/if}}

<div style="margin-left: 1em; margin-top: 3em">
    <a href="/">Go back to your homepage</a>
</div>