{{#if questions}}
    <h4 style="margin-left: 1em">Existing Flashcards</h4>
    <ol>
        {{#each questions}}
        <li style="margin-top: 1em">{{this.flashcard}}</li>
        {{/each}}
    </ol>
{{else}}
    <h4>No Flashcards Exist. Go and Create One!</h4>
{{/if}}


<div style="margin-left: 1em; margin-top: 3em">
    <a href="/">Go back to your homwpage</a>
</div>