<h3 style="margin-left: 2em">Hello {{name}}!</h3>

<ul style="margin-left: 1.5em">
    <li style="margin-top: 1em">
        <a href="/flashcards">Review Flashcards</a>
    </li>
    <li style="margin-top: 1em">
        <a href="/createQuestion">Create a new question</a>
    </li>
    <li style="margin-top: 1em">
        <a href="/deleteQuestion">Delete existing questions</a>
    </li>
    <li style="margin-top: 1em">
        <a href="/quiz">Take a quiz</a>
    </li>
    <li style="margin-top: 1em">
        <a href="/ranking">Show the ranking list</a>
    </li>
</ul>

<h3 style="margin-left: 3em; margin-top: 5em">
    <a href="/logout">Logout</a>
</h3>







