<h1>Festival Chronicles Homepage</h1>


<form method="POST" action="/createQuestion">
    <div>
        The flashcard: <input type="text" name="flashcard" style="height:50px;width:500px;font-size:14pt;">
    </div>
    <div>
        Blank placed at:(enter the index of word to be replaced by blank) <input type="number" name="blank">
    </div>
    <div>
        Relevent Festival: <input type="text" name="festival">
    </div>
    <div>
        <input type="submit" value="Submit your question!">
    </div>
</form>

<form method="POST" action="/deleteQuestion" id="deleteForm">
    <div>
        Choose one to delete: <select name="delete" form="deleteForm">
            {{#each questions}}
                <option value={{this._id}}>{{this.flashcard}}</option>
            {{/each}}
            <input type="submit" value="Delete">
        </select>
    </div>
</form>

{{#if questions}}
    <h4>Existing Flashcards</h4>
    <ol>
        {{#each questions}}
        <li>{{this.flashcard}}</li>
        {{/each}}
    </ol>
{{/if}}