{{#if err}}
    <h4>{{err}}</h4>
{{/if}}
<form action="/login" method="post" style="margin-left: 2em">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div style="margin-left: 4em">
        <input type="submit" value="Log In"/>
    </div>
</form>
<div style="margin-left: 1em">
    <a href="/register">Register an account!</a> or <a href="/auth/google">Sign In with Google</a>
</div>